@font-face {
    font-family: 'CrimsonRoman';
    src: url('../webfonts/Crimson-Roman-webfont.eot');
    src: url('../webfonts/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Crimson-Roman-webfont.woff') format('woff'),
         url('../webfonts/Crimson-Roman-webfont.ttf') format('truetype'),
         url('../webfonts/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonItalic';
    src: url('../webfonts/Crimson-Italic-webfont.eot');
    src: url('../webfonts/Crimson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Crimson-Italic-webfont.woff') format('woff'),
         url('../webfonts/Crimson-Italic-webfont.ttf') format('truetype'),
         url('../webfonts/Crimson-Italic-webfont.svg#CrimsonItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo';
    src: url('../webfonts/entypo-webfont.eot');
    src: url('../webfonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/entypo-webfont.woff') format('woff'),
         url('../webfonts/entypo-webfont.ttf') format('truetype'),
         url('../webfonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}